fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
faker
itsdangerous
email-validator
python-jose
passlib>=1.7.4
python-multipart
python-socketio
python-redis
jinja2
aiosmtplib
bcrypt>=4.0.1
cloudinary
redis
fastapi-limiter