<!-- Попап для подтверждения удаления -->
<div id="popup-confirm-delete" class="popup">
  <div class="popup-content">
    <h2>Підтвердіть видалення</h2>
    <p>Ви дійсно хочете видалити цей контакт?</p>
    <div class="popup-actions">
      <button id="btn-confirm-delete">Так</button>
      <button onclick="closePopup('popup-confirm-delete')">Ні</button>
    </div>
  </div>
</div>

<!-- Попап для подтверждения смены роли пользователя -->
<div id="popup-confirm-change-role" class="popup">
  <div class="popup-content">
    <h2>Підтвердіть зміну ролі</h2>
    <p id="confirm-change-role-message">Ви дійсно хочете змінити роль користувача?</p>
    <div class="popup-actions">
      <button id="btn-confirm-change-role">Так</button>
      <button onclick="closePopup('popup-confirm-change-role')">Ні</button>
    </div>
  </div>
</div>
